<ion-header>
  <ion-toolbar color="dark">
    <ion-icon slot="start" name="menu" size="large" class="ion-padding" (click)="verMenu()"></ion-icon>
    <ion-title class="ion-text-center">
      Acceso
    </ion-title>
    
    <ion-icon slot="end" name="person-circle-outline" class="ion-padding" size="large"></ion-icon>
  </ion-toolbar>
  <ion-row class="ion-align-items-center">
    <ion-col size="2">
      <ion-button color="primary" [routerLink]="['/qracces']">
        Lu
      </ion-button>
    </ion-col>
    <ion-col size="2">
      <ion-button color="primary" [routerLink]="['/qrmartes']">
        Ma
      </ion-button>
    </ion-col>
    <ion-col size="2">
      <ion-button color="primary">
        Mi
      </ion-button>
    </ion-col>
    <ion-col size="2">
      <ion-button color="primary">
        Ju
      </ion-button>
    </ion-col>
    <ion-col size="2">
      <ion-button color="primary">
        Vi
      </ion-button>
    </ion-col>
    <ion-col size="2">
      <ion-button color="primary">
        Sa
      </ion-button>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content>
  <ion-text class="ion-text-center">
    <h1>QR Asistencia <br>Lunes</h1>
  </ion-text>

  <ion-item *ngFor="let item of [0]" >
    <ion-card>
      <ion-card-header>
        <ion-card-title>Progra Base Datos</ion-card-title>
        <ion-card-subtitle>Horario ingreso: 08:31 - 09:50</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
          <ion-button color="tertiary" size="small" [routerLink]="['/qrfinal']">Mostrar QR asistencia</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-item>
  <ion-item *ngFor="let item of [0]" >
    <ion-card>
      <ion-card-header>
        <ion-card-title>Portafolio</ion-card-title>
        <ion-card-subtitle>Horario ingreso: 10:40 - 13:10</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
          <ion-button color="tertiary" size="small" [routerLink]="['/qrfinal']">Mostrar QR asistencia</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-item>
  <ion-item *ngFor="let item of [0]" >
    <ion-card>
      <ion-card-header>
        <ion-card-title>Etica para Algo</ion-card-title>
        <ion-card-subtitle>Horario ingreso: 16:41 - 18:10</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
          <ion-button color="tertiary" size="small" [routerLink]="['/qrfinal']">Mostrar QR asistencia</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-item>
</ion-content>


